/* jameSHIFT4 transition code */

/************
Regular HTML:
<span class="jame">jame<span class="shift4">SHIFT4<span class="dollar">$</span></span></span>

Link HTML:
<a class="jame" href="https://jameSHIFT4.com/">jame<span class="shift4">SHIFT4<span class="dollar">$</span></span></a>

Header HTML ("HIFT4" stays faintly/uses .shift4-s):
<span class="jame">jame<span class="shift4"><span class="shift4-s">S</span>HIFT4<span class="dollar">$</span></span></span>
************/

.jame {
  --jameshift4-color: #333;
  position: relative;
  color: var(--jameshift4-color);
  text-decoration: none;
}

.shift4,
.shift4-s {
  position: relative;
  transition: color 0.5s ease;
}

.dollar {
  color: var(--jameshift4-color) !important;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  user-select: none;
  transition: color 0s, opacity 0.5s ease;
}

.jame:hover {
  color: var(--jameshift4-color);
}

.jame:hover .shift4 {
  color: rgba(0, 0, 0, 0.2);
}

.jame:hover .shift4-s {
  color: rgba(0, 0, 0, 0);
}

.jame:hover .dollar {
  opacity: 1;
}

.jame:active .dollar {
  color: #d4af37 !important;
}
