html {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

th,
td,
caption {
  border: 1px solid #333;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

/* Code to make table look better */

table {
  border: 1px solid #333;
  border-top: none;
}

caption {
  border-bottom: none;
}

tfoot td {
  text-align: center;
}

.jameshift4 {
  text-decoration: none;
  color: #333;
}

.jameshift4:hover {
  color: hsla(0, 0%, 20%, 0.8);
}

/* Code to turn capital S's into dollar signs */

.dollar {
  position: absolute;
  opacity: 0;
  user-select: none;
  color: #d4af37;
  text-decoration: none;
  height: 0;
  width: 0;
  transition: opacity 0.5s ease;
}

.capital-s {
  transition: color 0.5s ease;
}

.title-dollar-box:hover .dollar {
  opacity: 1;
}

.title-dollar-box:active .dollar {
  color: #ff0000;
}

.title-dollar-box:hover .capital-s {
  color: rgba(0, 0, 0, 0);
}
