html {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

th,
td,
caption {
  border: 1px solid #333;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

/* Code to make table look better */

table {
  border: 1px solid #333;
  border-top: none;
}

caption {
  border-bottom: none;
}

tfoot td {
  text-align: center;
}

/* Code to turn capital S's into dollar signs */

.capital-s {
  --jameshift4-color: #333;
  position: relative;
  text-decoration: none;
  color: var(--jameshift4-color);
  transition: color 0.5s ease;
}

.dollar {
  color: var(--jameshift4-color) !important;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  user-select: none;
  transition: color 0s, opacity 0.5s ease;
}

.capital-s:hover {
  color: rgba(0, 0, 0, 0);
}

.capital-s:hover .dollar {
  opacity: 1;
}

.capital-s:active .dollar {
  color: #d4af37 !important;
}
